.header {
  height: 10vh;
  text-align: center;
  background: rgb(21, 92, 96);
  color: white;
}
.header__text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

@media (max-width: 768px) {
  .header {
    height: 9vh;
  }
  .header__text {
    font-size: 2rem;
  }
}

@media (max-width: 415px) {
  .header {
    height: 8vh;
  }
  .header__text {
    font-size: 1.8rem;
  }
}
